[Unit]
Description= My Mount BTRFS Partition With Systemd Mount

[Mount]
What=/dev/sda1
Where=/mnt/btrfs02
Type=btrfs
Options=defaults

[Install]
WantedBy=graphical.target