[Unit]
Description= My Mount Point With Systemd Mount

[Mount]
What=/dev/sdb1
Where=/mnt/myfiles
Type=ext4
Options=defaults

[Install]
WantedBy=graphical.target